.parent {
    position: relative;

    height: 100vh;
    width: 100vw;

    background: darkcyan;
}

.container {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.background {
    position: absolute;
    opacity: 0.7;

    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
}

.jensen {
    height: 80%;

    margin-top: 20vh;

    object-fit: contain;
}

.description {
    background: #aaa5;

    margin-left: 10ch;

    padding: 1em 4ch;
    border-radius: 1em;

    border-style: solid;
    border-width: 1.5px;
    border-color: #bbb;

    filter: drop-shadow(0 5px 15px #eee5);
    -webkit-filter: drop-shadow(0 5px 15px #eee5);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    & h1,
    h2 {
        font-family: var(--font-geist-mono);
        font-weight: 400;

        color: white;
    }

    & h1 {
        margin-bottom: 1em;
    }
}